@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap");

:root {
  /*primary colors*/
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  /*nuetral colors*/
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*DESKTOP VERSION*/
body {
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
  width: 100vw;
  background: url("../src/images/pattern-background-desktop.svg") no-repeat,
    linear-gradient(var(--Very-pale-blue), var(--Pale-blue));
  background-size: auto auto;
}
p {
  font-size: 16px;
}
/*BACKGROUND*/
.bk-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(45deg, var(--Very-pale-blue), var(--Dark-blue));
  opacity: 0.3;
}
.bk-overlay-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(var(--Very-pale-blue), var(--Pale-blue));
  opacity: 0.3;
}
/*CARD*/
.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.card-container {
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 50px hsl(245, 75%, 52%, 0.2);
}
/*IMAGE CONTAINER*/
.imgHero {
  width: 100%;
  flex: 19;
}
.imgHero img {
  width: 100%;
  object-fit: fill;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
/*CONTENT DIV*/
.content {
  flex: 70;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 30px;
}

.content p {
  text-align: center;
  font-size: 13px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--Desaturated-blue);
  line-height: 1.5em;
  font-weight: 400;
}
h3 {
  color: var(--Dark-blue);
  font-size: 1.4em;
}
/*ANNUAL PLAN DIV*/
.annual-plan {
  background-color: #f8f9fe;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.musicon {
  flex: 20;
  text-align: center;
}
.a-text {
  flex: 50;
  text-align: start;
  padding-left: 15px;
}
.a-text p {
  text-align: start;
  font-weight: 400;
  padding: 0;
  line-height: 2em;
  color: var(--Desaturated-blue);
}
h5 {
  color: var(--Dark-blue);
}
.a-btn {
  flex: 30;
  text-align: end;
  padding-right: 10px;
}
.a-btn a {
  font-size: 13px;
  font-weight: 700;
  color: var(--Bright-blue);
}

/*ORDER BTN DIV*/
.order-btn {
  width: 100%;
  padding-top: 20px;
}
.order-btn button {
  width: 100%;
  border: none;
  padding: 15px;
  color: var(--Very-pale-blue);
  background-color: var(--Bright-blue);
  border-radius: 10px;
  box-shadow: 0px 15px 20px hsl(245, 75%, 52%, 0.3);
  font-weight: 700;
}
/*CANCEL BTN DIV*/
.cancel-btn {
  padding: 20px;
  padding-bottom: 0;
}
.cancel-btn a {
  text-decoration: none;
  color: var(--Desaturated-blue);
  font-size: 13px;
  font-weight: 700;
}

/*HOVER STATES*/
.cancel-btn a:hover {
  color: var(--Dark-blue);
}
.order-btn button:hover {
  cursor: pointer;
  background-color: #766cf1;
}
.a-btn a:hover {
  color: #766cf1;
  text-decoration: none;
}

/* MOBILE VERSION*/
@media (max-width: 375px) {
  body {
    background: url("./images/pattern-background-mobile.svg") no-repeat,
      linear-gradient(var(--Very-pale-blue), var(--Pale-blue));
    background-size: auto auto;
  }
  .container {
    padding: 20px;
  }
  .card-container {
    width: 100%;
  }
  .content p {
    padding: 5px;

    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .a-text p {
    padding: 0;
    font-size: 14px;
  }
  .a-btn {
    padding: 0;
  }
  h5 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 1.4em;
  }
}
